In [ ]:
import pandas as pd
# gps_data = pd.read_csv("gps.csv")
# cars_data = pd.read_csv("car-assignments.csv")
cc_data = pd.read_csv("cc_data.csv",encoding='cp1252')
# loyalty_data = pd.read_csv("loyalty_data.csv",encoding='cp1252')

In [ ]:
len(cc_data['location'].unique())

34

In [ ]:
print(pd.to_datetime(cc_data['timestamp'][0]))

2014-01-06 07:28:00

In [ ]:
cc_data['timestamp'] = pd.to_datetime(cc_data['timestamp'])

In [ ]:
cc_data['time'] = cc_data['timestamp'].dt.time
cc_data['date'] = cc_data['timestamp'].dt.date

In [ ]:
cc_data['time']

0       07:28:00
1       07:34:00
2       07:35:00
3       07:36:00
4       07:37:00
          ...
1485    20:16:00
1486    20:22:00
1487    20:25:00
1488    20:30:00
1489    20:51:00
Name: time, Length: 1490, dtype: object

In [ ]:
cc_data[['time','date','timestamp']]

          time        date           timestamp
0     07:28:00  2014-01-06 2014-01-06 07:28:00
1     07:34:00  2014-01-06 2014-01-06 07:34:00
2     07:35:00  2014-01-06 2014-01-06 07:35:00
3     07:36:00  2014-01-06 2014-01-06 07:36:00
4     07:37:00  2014-01-06 2014-01-06 07:37:00
...        ...         ...                 ...
1485  20:16:00  2014-01-19 2014-01-19 20:16:00
1486  20:22:00  2014-01-19 2014-01-19 20:22:00
1487  20:25:00  2014-01-19 2014-01-19 20:25:00
1488  20:30:00  2014-01-19 2014-01-19 20:30:00
1489  20:51:00  2014-01-19 2014-01-19 20:51:00

[1490 rows x 3 columns]

In [ ]:
type(cc_data['date'][0])

datetime.date

In [ ]:
cc_data.to_csv('cctime_data.csv')

In [ ]:
cc_data['last4ccnum'].value_counts()

6901    37
8332    36
3484    35
5368    35
8156    34
7688    34
7819    34
7384    33
8202    33
7354    33
2142    33
3853    33
1310    33
2463    32
1321    32
1874    32
1286    32
4434    32
4795    32
8411    32
8129    32
9405    32
6895    31
5407    31
2540    31
1415    31
7117    31
9617    31
4948    30
6899    30
1877    30
6816    30
7108    30
7889    30
7253    30
3492    29
2681    29
9635    28
2418    28
9551    28
9683    28
6691    26
7792    25
3547    20
9241    19
9735    18
8642    15
5921    14
2276    12
3506    11
9220    10
4530    10
5010     5
9152     4
9614     4
Name: last4ccnum, dtype: int64

In [ ]:
len(cc_data['last4ccnum'].unique())

55

In [ ]:
cc_data['location'].value_counts()

Katerina's Cafe                 212
Hippokampos                     171
Guy's Gyros                     158
Brew've Been Served             156
Hallowed Grounds                 92
Ouzeri Elian                     87
Abila Zacharo                    72
Gelatogalore                     64
Kalami Kafenion                  64
Frydos Autosupply n' More        47
Bean There Done That             47
Coffee Cameleon                  38
Jack's Magical Beans             37
Brewed Awakenings                30
Abila Airport                    25
Albert's Fine Clothing           25
Nationwide Refinery              24
Shoppers' Delight                20
Carlyle Chemical Inc.            19
Stewart and Sons Fabrication     18
Kronos Mart                      10
General Grocer                   10
Chostus Hotel                     9
Desafio Golf Course               8
Roberts and Sons                  8
Coffee Shack                      8
Kronos Pipe and Irrigation        6
Ahaggo Museum                     6
Maximum Iron and Steel            6
Abila Scrapyard                   4
Octavio's Office Supplies         4
Frank's Fuel                      2
U-Pump                            2
Daily Dealz                       1
Name: location, dtype: int64

In [ ]:
sorted(gps_data['id'].unique())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 101,
 104,
 105,
 106,
 107]

In [ ]:
cars_data['CarID'].value_counts()

1.0     1
27.0    1
21.0    1
22.0    1
23.0    1
24.0    1
25.0    1
26.0    1
28.0    1
19.0    1
29.0    1
30.0    1
31.0    1
32.0    1
33.0    1
34.0    1
20.0    1
18.0    1
2.0     1
9.0     1
3.0     1
4.0     1
5.0     1
6.0     1
7.0     1
8.0     1
10.0    1
17.0    1
11.0    1
12.0    1
13.0    1
14.0    1
15.0    1
16.0    1
35.0    1
Name: CarID, dtype: int64

In [ ]:
max(gps_data['Timestamp'])

'01/19/2014 20:56:55'

In [ ]:
min(gps_data['Timestamp'])

'01/06/2014 06:28:01'

In [ ]:
len(gps_data['Timestamp'].value_counts())

303206

In [ ]:
gps_data[gps_data['id']==101].describe()

            id           lat          long
count  17840.0  17840.000000  17840.000000
mean     101.0     36.052772     24.866290
std        0.0      0.003923      0.021651
min      101.0     36.048021     24.825088
25%      101.0     36.050222     24.847686
50%      101.0     36.050389     24.871064
75%      101.0     36.054862     24.880768
max      101.0     36.065333     24.908484

In [ ]:
cc_data['location'].value_counts()

Katerina's Cafe                 212
Hippokampos                     171
Guy's Gyros                     158
Brew've Been Served             156
Hallowed Grounds                 92
Ouzeri Elian                     87
Abila Zacharo                    72
Gelatogalore                     64
Kalami Kafenion                  64
Frydos Autosupply n' More        47
Bean There Done That             47
Coffee Cameleon                  38
Jack's Magical Beans             37
Brewed Awakenings                30
Abila Airport                    25
Albert's Fine Clothing           25
Nationwide Refinery              24
Shoppers' Delight                20
Carlyle Chemical Inc.            19
Stewart and Sons Fabrication     18
Kronos Mart                      10
General Grocer                   10
Chostus Hotel                     9
Desafio Golf Course               8
Roberts and Sons                  8
Coffee Shack                      8
Kronos Pipe and Irrigation        6
Ahaggo Museum                     6
Maximum Iron and Steel            6
Abila Scrapyard                   4
Octavio's Office Supplies         4
Frank's Fuel                      2
U-Pump                            2
Daily Dealz                       1
Name: location, dtype: int64

In [ ]:
frequencydata = pd.DataFrame(loyalty_data['location'].value_counts().reset_index().values,columns=['location','loyalty_count'])

In [ ]:
frequencydatacc = pd.DataFrame(cc_data['location'].value_counts().reset_index().values,columns=['location','cc_count'])

In [ ]:
frequencydata

                        location loyalty_count
0                Katerina's Cafe           195
1                    Hippokampos           155
2                    Guy's Gyros           146
3            Brew've Been Served           140
4                   Ouzeri Elian            84
5               Hallowed Grounds            80
6                  Abila Zacharo            71
7                Kalami Kafenion            66
8                   Gelatogalore            60
9           Bean There Done That            45
10     Frydos Autosupply n' More            42
11               Coffee Cameleon            37
12          Jack's Magical Beans            35
13             Brewed Awakenings            29
14                 Abila Airport            26
15        Albert's Fine Clothing            25
16           Nationwide Refinery            23
17         Carlyle Chemical Inc.            19
18             Shoppers' Delight            18
19  Stewart and Sons Fabrication            17
20                General Grocer            12
21                  Coffee Shack             9
22                   Kronos Mart             8
23           Desafio Golf Course             8
24                 Chostus Hotel             8
25                 Ahaggo Museum             6
26              Roberts and Sons             6
27        Maximum Iron and Steel             6
28    Kronos Pipe and Irrigation             6
29               Abila Scrapyard             4
30     Octavio's Office Supplies             3
31                  Frank's Fuel             2
32                        U-Pump             1

In [ ]:
frequency = frequencydata.merge(frequencydatacc,on='location')

In [ ]:
frequency.to_csv('popularlocationdata.csv',index =False)